@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@font-face {
	font-family: "National Park";
	font-style: normal;
	font-weight: 600;
	src: url("/fonts/NationalPark-ExtraBold.woff2") format("woff2");
	font-display: swap;
}

html,
body {
	background-image: url(/images/background.png);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	overscroll-behavior: none;
	font-family: "National Park", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}
